
body {
background: url("BG2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
