{% extends "base.html" %}

{% block title %}
  Credit Card
{% endblock title %}

{% block content %}
{% load static %}

<br>

<br>

<div class="row justify-content-center mt-15">
    <div class="col-md-20 text-center" text-align= "justify">

            <h1>
              credit card fraud detection using machine learning
            </h1>
    </div>
</div>

<br>
<br>



<div class="row justify-content-center mt-15">
    <div class="col-md-20 text-justify" text-align= "justify">
      The benefits of customer segmentation analysis are clear. By having a stronger understanding of their consumer base, retailers can properly allocate resources to collect and mine relevant information to boost profits. However, getting to the point of performing high-level customer segmentation analysis is more difficult than originally thought for many retailers. 
      <br><br>
      Many retailers may have the rights to the necessary data to perform the analysis, but do not have either the ability to access it in a user-friendly manner or have an employee that has the skillet to work with it. The lack of proper personnel or equipment to handle the necessary volume of data is perhaps the biggest hindrance to smaller forms being able to perform such analysis. 
      <br><br>
      The popularity of open-source programming software such as R or Python has certainly helped make this type of analysis more accessible, but it still would require retailers having someone on their team who can code in either of those languages. Additionally, some retailers are simply unaware of either the extent of their data collection or are not yet inspired to dig into it. Nevertheless, retailers that have not fully adopted customer segmentation analysis are likely not doing so simply because they cannot afford to spend the time, money, or labor to perform the analysis. Therefore, it is an aim of this paper to show that this rich analysis can be performed cheaply and efficiently.
      <br><br>
      Businesses serve huge population in area, so it’s likely to perform mass-marketing (same marketing strategy for every customer). However, as customer behaviors are varying, this industry cannot stay away from the trend of customer-focus to maintain the competitive advantage. Therefore, the question that is raised for this problem statement is whether it is possible to segment consumers based on their behavior. 
      <br><br>
      Credit card is the well-accepted manner of remission in financial field. With the rising number of users across the globe, risks on usage of credit card have also been increased, where there is danger of stealing credit card details and committing frauds. Traditionally, machine learning area has been developing algorithms that have certain assumptions on underlying distribution of data, such as data should have predetermined and fixed distribution. Real-word situations are different than this constrained model; rather applications often face problems such as unbalanced data distribution. Additionally, data picked from non-stationary environments are also frequent that results in the sudden drifts in the concepts. These issues have been separately addressed by the researchers.
      <br><br>
      </div>
</div>



<br><br><br>
<h4>
        Proposed System
</h4>
<div class="row justify-content-center mt-15">
    <div class="col-md-20 text-justify" text-align= "justify">
      <!-- Classification of credit card transactions is mostly a binary classification problem. Here, credit card transaction is either as a legitimate transaction (negative class) or a fraudulent transaction (positive class). Fraud detection is generally viewed as a data mining classification problem, where the objective is to correctly classify the credit card transactions as legitimate or fraudulent. In this system groups of those users that whose transactions are medium or very low transactions as well as high transactions. The group of fraud transactions users are made by the using algorithm DNN (Deep Neural Network) algorithm. -->
      <br><br>
      The major aim of this project is to detecting the credit card frauds in our day to day online
      transactions from credit card by using Random Forest Algorithm. Credit card is becoming more and
      more popular in financial transactions, at the same time frauds are also increasing. Conventional
      methods use rule-based expert systems to detect fraud behaviors, neglecting diverse situations,
      extreme imbalance of positive and negative samples. In this paper, a random forest-based fraud
      detection framework is proposed, to capture the intrinsic patterns of fraud behaviors learned from
      labeled data. Dataset of credit is fed to Machine learning algorithm for training. Transactions data is
      pre-processed to de-noise it while eliminating redundant data. Then important features are extracted
      and compare with dataset. Then using machine learning classifier credit card transactions are
      classified into fraud or authenticate one.

    </div>
</div>

<div class="row justify-content-center mt-15">
  <div class="col-md-20 text-center" text-align= "justify">
          <br><br>
          <img src="/static/img/architecture.png" class="img-responsive" style="width: 100%; float: center; " />                
          <br><br><br>         
  </div>
</div>

<div class="row justify-content-center mt-15">
  <div class="col-md-20 text-justify" text-align= "justify">
    In recent years, loan and credit card transactions information has become significantly larger. Therefore, it is often difficult to use traditional mathematical and statistical models for such types of problems. To construct behavioural scoring models, professionals must think about a few significant issues, such as the extensiveness of the dataset to model, the planning horizon, and drivers of unwanted behaviour.

    Differentiating or segmenting these consumers based on their requirements, behaviours, and attitudes, as well as understanding the reason why customers use their credit cards by considering a limited number of financial behaviours, assists us in overcoming this problem.
    <br><br>

    Credit card providers usually target users using their behaviour and demographic information. Behaviours are often based on credit reports on how a person spends and pays over time.

    Customer segmentation is the technique of separating a customer base into particular groups of persons. A client segmentation model allows consumers to efficiently differentiate themselves and provides issuers with insights into how their cards may be used more or attract new customers via innovative systems.

    Card issuers can not only make higher-priced proposals, but can discover groups that have poorly serviced by present offers, using improved segmentation. Their behavioural style can help study these groups and provide better alternatives and strategies to meet their demands.
    


  </div>
</div>


<!--  -->







{% endblock %}


